/** Style sheet only for Article.jsx */
/** Improving should contain responsive design */

.write-article-headline {
  width: 75%;
  height: 100px;
}

.write-article-content {
  width: 75%;
}

.headline {
  padding: 5px;
  margin: 5px;
}

.toggleButtons {
  padding: 5px;
  margin: 5px;
}
