/** Style sheet only for Article.jsx */
/** Improving should contain responsive design */

.write-article-headline {
  width: 75%;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.write-article-summary {
  width: 75%;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.write-article-content {
  width: 75%;
  padding: 5px;
  margin: 5px;
}

.headline {
  padding: 5px;
  margin: 5px;
}

.labels {
  padding: 5px;
  margin: 5px;
}

.dropdownButtons {
  padding: 5px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  form {
    height: 35vh;
  }

  p {
    font-size: 11px;
  }
}
