.toolbarClassName{
	background-color: rgb(217, 224, 224);
	height:50px;
	
	
}
.wrapperClassName { 
	border: 6px solid rgba(0, 76, 255, 0.459);
	background-color:inherit;
	width: 100%;
	 
}
.editorClassName { 
  background-color: rgb(229, 247, 247);
  height: 600px;
  width: 100%;
  overflow-y: auto;
 

}