

.wrap-card {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 15rem;
    
    
}
.embedded-media {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-wrap;
    justify-content: space-around;
    .card-img-top {
        cursor: pointer;
    }
}
.card-media{
    color: rgb(55, 55, 77);
    cursor: pointer;
   
    
}
.card-media:hover{
    text-decoration: underline;
    color: rgb(90, 34, 196);
}