* {
  box-sizing: border-box;

  font-family: "Karla", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}
body {
  background-color: #a7d5d4;
  font-family: "Karla", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}

.main {
  background-color: #e6a61a;
  min-height: 65vh;
  padding: 2vh;
}
