* {
  box-sizing: border-box;
}
body {
  background-color: #a7d5d4;
  font-family: "Karla", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: #a8a9ad;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main {
  background-color: #e6a61a;
  min-height: 65vh;
  padding: 2vh;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: olive;
    font-size: 10px;
  }
}
